<div class="main__wrapper">

  <div class="main__input">
    <p class="main__input-label">
      Game Data
    </p>
    <textarea
      class="main__textarea"
      cols="20"
      [formControl]="primaryData"
    >
  </textarea>
  </div>

  <div
    class="main__output"
    *ngIf="!showError"
  >
    <div
      class="main__element"
      *ngFor="let element of parsedData; let i = index"
    >
      <app-one-element
        [element]="element"
        [maxDepth]="maxDepth"
        [index]="i+1"
      ></app-one-element>

    </div>
  </div>

  <div
    class="error_output"
    *ngIf="showError"
  >
    <p>Something wrong in input data</p>
  </div>
</div>
